html {
  font-family: Georgia, serif;
  background-color: #efefef;
}

.banner-content {
  background-color: #495562;
  color: #efefef;
  top: 15em;
}

.button:hover {
  background-color: transparent;
  border-color: #97a49b;
  color: #efefef;
}

.banner {
  max-height: 500px;
}

@media only screen and (min-width: 25em) {



}
